<!-- Footer -->
<footer class="page-footer text-white font-small bg-secondary pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">My blog</h5>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expede.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Follow us on</h5>

        <ul class="list-unstyled">
          <li>
            <a style="cursor: pointer;"><fa-icon [icon]="faTwitter"></fa-icon></a>
          </li>
          <li>
            <a style="cursor: pointer;"><fa-icon [icon]="faFacebook"></fa-icon></a>
          </li>
          <li>
            <a style="cursor: pointer;"><fa-icon [icon]="faInstagram"></fa-icon></a>
          </li>
          <li>
            <a style="cursor: pointer;"><fa-icon [icon]="faLinkedin"></fa-icon></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a> MyBlog.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
